# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Include compiled files for Obsidian community plugin distribution
# main.js - included for plugin distribution
# styles.css - included for plugin distribution  
# manifest.json - included for plugin distribution

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
